* {
  margin: 6px;
  padding: 4px 6px;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
  background-color: rgb(139, 182, 182);
}

a {
  color: white;
}
a:hover {
  color: black;
}
a:focus {
  color: blue;
}
div {
  margin-left: 10px;
  background-color: aqua;
  padding: 2px;
  margin: 6px;
  margin-left: 11px;
  border: solid 2px black;
}
div p {
  background-color: green;
}
div h2 {
  background-color: yellow;
}
